n8n-workflows/critical-lead-alert.json
{
  "name": "Ford Forward — Alerta de Lead Crítico",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "trigger-cron",
      "name": "A cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 500]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:18080/api/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "new" },
            { "name": "limit", "value": "50" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-leads",
      "name": "Buscar Leads Novos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-items",
      "name": "Split por Lead",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [540, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "condition-priority",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "filter-critical",
      "name": "Só Críticos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [740, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-msg",
              "name": "mensagem",
              "value": "=🚨 *Lead Crítico — Ford Forward*\n\nVIN: {{ $json.vin || '—' }}\nPrioridade: {{ $json.priority.toUpperCase() }}\nMotivo: {{ $json.reason || 'Sem motivo' }}\nValor esperado: R$ {{ ($json.expected_value_brl || 0).toFixed(2) }}\n\n_Gerado automaticamente pelo Ford Forward._",
              "type": "string"
            },
            {
              "id": "set-vin",
              "name": "vin",
              "value": "={{ $json.vin }}",
              "type": "string"
            },
            {
              "id": "set-lead-id",
              "name": "lead_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-message",
      "name": "Formatar Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 300]
    },
    {
      "parameters": {
        "phoneNumberId": "={{ /* PREENCHER: Phone Number ID do WhatsApp Business */ '' }}",
        "recipientPhoneNumber": "={{ /* PREENCHER: telefone do dealer/analista */ '' }}",
        "textBody": "={{ $json.mensagem }}"
      },
      "id": "whatsapp-send",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 2,
      "position": [1180, 300],
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:18080/health",
        "options": {}
      },
      "id": "log-action",
      "name": "Log no Console (teste)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "condition-high",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "filter-high",
      "name": "Leads Alta Prioridade",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [740, 600]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-email-msg",
              "name": "mensagem",
              "value": "=Lead de alta prioridade detectado.\n\nVIN: {{ $json.vin || '—' }}\nMotivo: {{ $json.reason || 'Sem motivo' }}\nValor: R$ {{ ($json.expected_value_brl || 0).toFixed(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-email",
      "name": "Formatar Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 600]
    }
  ],
  "connections": {
    "Trigger Manual": {
      "main": [
        [{ "node": "Buscar Leads Novos", "type": "main", "index": 0 }]
      ]
    },
    "A cada 5 minutos": {
      "main": [
        [{ "node": "Buscar Leads Novos", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Leads Novos": {
      "main": [
        [{ "node": "Split por Lead", "type": "main", "index": 0 }]
      ]
    },
    "Split por Lead": {
      "main": [
        [
          { "node": "Só Críticos", "type": "main", "index": 0 },
          { "node": "Leads Alta Prioridade", "type": "main", "index": 0 }
        ]
      ]
    },
    "Só Críticos": {
      "main": [
        [{ "node": "Formatar Mensagem", "type": "main", "index": 0 }],
        []
      ]
    },
    "Formatar Mensagem": {
      "main": [
        [
          { "node": "Enviar WhatsApp", "type": "main", "index": 0 },
          { "node": "Log no Console (teste)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Leads Alta Prioridade": {
      "main": [
        [{ "node": "Formatar Email", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    { "name": "ford-forward" },
    { "name": "leads" },
    { "name": "whatsapp" }
  ]
}
